@charset "utf-8";
@import url("index.css");
@import url("listaAlunos.css");

:root{
    --cor-primaria:#dadada;
    --cor-secundaria:#0b3cdd;
    --font-color: #ffffff;
}

body{
    border: 0px;
    margin: 0px;
}